.navbar {
	width:100%;
	margin: auto;
	padding: 0.5rem;
	border-color: black;
	border-style: solid;
	box-shadow: 1rem 1rem #00000033;
}

.navbar nav > ul {
	list-style-type: none;
	padding:0rem;
}

.navbar nav > ul > li {
	display: inline;
	font-style: italic;
}