<link href="/css/smartpoll-header.css" rel="stylesheet">
<div class="navbar" align="center" style="width:100%;">
	<label>
		<h1>SmartPoll</h1>
		<nav>
			<ul>
				<li><a href="/principal">Principal</a></li> | 
				<li><a href="/buscarComunidades">Comunidades</a></li> | 
				<li><a href="">Mis polls</a></li> | 
				<li><a href="/login/cerrarSesion">Cerrar Sesión</a></li>
			</ul>
		</nav>
	</label>
</div>